<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=cakes.name%></h1>
      <div class='container'>
        <%for(img of cakes.img){%>
          <img style='max-width: 300px' src="<%=img%>"></img>
        <%}%>
        <ul>
          <li><%=cakes.description%></li>
          <li><%=cakes.price%></li>
          <li><%=cakes.qty%></li>
        </ul>
      </div>
      <nav>
        <a href="/cakes/<%=cakes._id%>/edit"><button>Edit</button></a>
        <form action="/cakes/<%=cakes._id%>?_method=DELETE" method="POST">
          <input type="submit" value="delete" /><br/>
        </form>
      </nav>
      <a href='/cakes'>Back to Cakes Index</a>
  </body>
</html>
