<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=cakes.name%></h1>
      <div class='container'>
        <img src="<%=cakes.img%>" alt="<%=cakes.name%>">
        <ul>
          <li><%=cakes.description%></li>
          <li><%=cakes.price%></li>
          <li><%=cakes.qty%></li>
      </div>
  </body>
</html>
